<% content_for :extra_js do %>
	Forms.contact();
<% end %>

<section class="content">
	<div class="container">
		<h1 class="text-uppercase text-center">Contactanos</h1>
		<p class="text-center space-xs-S-40">Enterate de todo, recibi informacion exclusiva sobre promociones, lanzamientos y mas.</p>
		<form class="contact-form" role="form" id="contactForm" data-success=".contact-form.success-message">
			<div class="form-group">
				<%= text_field_tag 'contact[fullname]', nil, class: 'form-control', placeholder: 'Nombre y apellidos *', required: true %>
			</div>
			<div class="form-group">
				<%= email_field_tag 'contact[email]', nil, class: 'form-control', placeholder: 'Email *', required: true %>
			</div>
			<div class="form-group">
				<%= phone_field_tag 'contact[tel]', nil, class: 'form-control', placeholder: 'Teléfonos' %>
			</div>
			<div class="form-group">
				<%= text_field_tag 'contact[address]', nil, class: 'form-control', placeholder: 'Dirección' %>
			</div>
			<div class="form-group">
				<%= text_field_tag 'contact[city]', nil, class: 'form-control', placeholder: 'Ciudad' %>
			</div>
			<div class="form-group">
				<%= text_field_tag 'contact[zip_code]', nil, class: 'form-control', placeholder: 'Código Postal' %>
			</div>
			<div class="form-group">
				<%= text_field_tag 'contact[country]', nil, class: 'form-control', placeholder: 'País' %>
			</div>
			<div class="form-group">
				<%= text_field_tag 'contact[birthday]', nil, class: 'form-control', placeholder: 'Fecha de nacimiento' %>
			</div>
			<div class="form-group">
				<%= hidden_field_tag 'contact[gender]' %>
				<div class="dropdown" data-for="contact_gender">
				  <button class="form-control dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="dropdown-text">Sexo</span> <span class="caret"></span></button>
				  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
				  	<li><a data-value="Masculino" href="#">Masculino</a></li>
				  	<li><a data-value="Femenino" href="#">Femenino</a></li>
				  </ul>
				</div>
			</div>
			<div class="form-group">
				<%= text_area_tag 'contact[comments]', nil, class: 'form-control', placeholder: 'Comentarios', rows: 4 %>
			</div>
			<div class="checkbox">
				<%= label_tag do %>
					<%= check_box_tag 'contact[mailing_list]' %>
					¿Te gustaría ser a nadido a nuestra lista de correo?
				<% end %>
			</div>
			<div class="checkbox">
				<%= label_tag do %>
					<%= check_box_tag 'contact[privacy_policy]', 1, false, required: true %>
					He leido y aceptado explicitamente la politica de privacidad de Freixenet
				<% end %>
			</div>
			<%= submit_tag 'Enviar', class: 'btn btn-default space-xs-N-20' %>
		</form>
		<div class="contact-form success-message">
			<h3 class="text-center">¡Gracias por contactarte!</h3>
		</div>
	</div>
</section>