<section class="content text-center">
	<div class="container">
		<h2 class="text-uppercase">Historia y Filosofía</h2>
		<p>Celebra la vida, celebra la historia con nosotros</p>
		<%= image_tag 'couple-and-wine-collage.jpg', class: 'cover space-xs-NS-40' %>
		<p class="text-left">La vida es para disfrutarla, ¿no crees? Eso pensamos nosotros, tal vez porque vivimos en un lugar precioso, el Penedès, justo al suroeste de la vibrante Barcelona. Y qué mejor manera para disfrutar que con nuestro cava. No existe mejor augurio que ese sonido del tapón mientras descorchamos una botella. O ese cosquilleo tras el primer sorbo. Cualquier momento es algo más divertido y memorable cuando se celebra con nuestras chispeantes burbujas. Aprovecha tu oportunidad y disfruta de cada momento.<br><em>Celebra la vida.</em></p>
	</div>
</section>
<%= render 'shared/timeline' %>
<section class="content">
	<div class="container narrow">
		<h4 class="text-uppercase">Origen</h4>
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<%= image_tag 'cellar.jpg', class: 'pull-left rect-xs-170 space-xs-E-15' %>
				<p>Nuestro hogar es el Penedès, conocido también como el país del cava, que se encuentra a poco más de media hora de Barcelona. Es unenclave privilegiado, protegido de los vientos de levante por el macizo del Garraf y de las brisas septentrionales por la escarpada sierra de Montserrat.</p>
			</div>
			<div class="col-xs-12 col-sm-6">
				<p>La naturaleza nos regala un suelo fértil y muchas horas de sol en un paisaje visiblemente ondulante.De este magnífico entorno surge nuestro espumoso: el cava. Se trata de una Denominación de Origen protegida, en la que sólo se pueden emplear determinadas variedades de uva y seguir el llamado “método tradicional”, mediante el cual el vino pasa por una segunda fermentación en botella. Todo ello tiene lugar en nuestra bodega, en la región vinícola de Sant Sadurní d’Anoia, donde cada año llegan nuestras uvas y las de 2.000 socios productores.</p>
			</div>
		</div>
	</div>
</section>
<%= render 'shared/products' %>
<%= render 'shared/news' %>
<section class="content bg-bottle-in-a-purse text-center">
	<div class="container">
		<h2 class="text-uppercase">Contactanos</h2>
		<p>Suscribite gratis y mantenete en contacto.</p>
		<hr class="space-xs-N-40 center-max-250">
		<p class="center-max-290">Enterate de todo, recibi informacion exclusiva sobre promociones, lanzamientos y mas.</p>
		<hr class="space-xs-S-40 center-max-250">
		<%= link_to 'Contacto', nil, class: 'btn btn-info' %>
	</div>
</section>