<section class="content">
	<div class="container">
		<h1 class="text-uppercase text-center">media lab</h1>
		<p class="text-center space-xs-S-40">Conectate, compartí tu experiencia Freixenet</p>
		<div class="row col-space-10">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						'Be Freixenet' is our new campaign and it's all about embracing a 'carpe diem' attitude. Join us!
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-1.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Disfruta de la magia de un buen CAVA. Encontranos en las mejores vinotecas del pais. <%= link_to "#BeFreixenet", nil %>.
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-2.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
				<div class="media-box visible-xs visible-sm">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Empeza esta semana rodeado de JAZZ <%= link_to "#musica", nil %> <%= link_to "#befreixenet", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-5.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
				<div class="media-box visible-xs visible-sm">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						<%= link_to "#frasesFreixenet", nil %> <%= link_to "#beFreixenet", nil %> <%= link_to "#citas", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-6.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3">
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						<%= link_to "#FrasesFreixnet", nil %> <%= link_to "#frases", nil %> <%= link_to "#citas", nil %> <%= link_to "#BeFreixenet", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-3.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 18 días.</span>
					</div>
				</div>
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Conquistá a tu hombre como quieras. <%= link_to "#beFreixenet", nil %> <%= link_to "#Freixenet", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-4.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 18 días.</span>
					</div>
				</div>
				<div class="media-box visible-xs visible-sm">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Hace lo que sientas! <%= link_to "#beFreixenet", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-7.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
				<div class="media-box visible-xs visible-sm">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Martes. Un gran día para disfrutar de una copa de Elyssia Pinot Noir.<br>
						<br>
						Elyssia es moderno, fresco, universal y delicioso. Es nuestra vuelta de tuerca a el fino arte de realizar Cava.<br>
						<%= link_to "#Freixenet", nil %> <%= link_to "#Elyssia", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-8.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 hidden-xs hidden-sm">
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Empeza esta semana rodeado de JAZZ <%= link_to "#musica", nil %> <%= link_to "#befreixenet", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-5.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						<%= link_to "#frasesFreixenet", nil %> <%= link_to "#beFreixenet", nil %> <%= link_to "#citas", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-6.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
			</div>
			<div class="col-md-3 hidden-xs hidden-sm">
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Hace lo que sientas! <%= link_to "#beFreixenet", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-7.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
				<div class="media-box">
					<div class="media-box-head">
						<i class="icon icon-facebook-round"></i>
						Martes. Un gran día para disfrutar de una copa de Elyssia Pinot Noir.<br>
						<br>
						Elyssia es moderno, fresco, universal y delicioso. Es nuestra vuelta de tuerca a el fino arte de realizar Cava.<br>
						<%= link_to "#Freixenet", nil %> <%= link_to "#Elyssia", nil %>
					</div>
					<div class="media-box-body">
						<%= image_tag 'media-8.jpg', class: 'cover' %>
					</div>
					<div class="media-box-footer">
						<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
						<%= link_to "Freixenet'", nil, class: 'media-box-user' %>
						<span class="media-box-time">hace 12 días.</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>