<section class="content">
	<div class="container">
		<h1 class="text-uppercase text-center">media lab</h1>
		<p class="text-center space-xs-S-40">Conectate, compartí tu experiencia Freixenet</p>
		<div class="row col-space-10">
			<div class="col-xs-12 col-sm-6 col-md-3">
				<% @feed.each_with_index do |f, i| %>
					<%= '</div><div class="col-xs-12 col-sm-6 col-md-3">'.html_safe if ((i+1) % (@feed.count / 4.0).ceil) == 0 %>
					<% if feed = format_feed(f) %>
						<div class="media-box">
							<div class="media-box-head">
								<i class="icon icon-facebook-round"></i>
								<%= feed[:message] %>
							</div>
							<div class="media-box-body">
								<% if feed[:link] %>
									<%= link_to feed[:link] do %>
										<%= image_tag feed[:image], class: 'cover' %>
									<% end %>
								<% else %>
									<%= image_tag feed[:image], class: 'cover' %>
								<% end %>
							</div>
							<div class="media-box-footer">
								<%= image_tag 'favicon.jpg', class: 'media-box-avatar' %>
								<%= link_to "Freixenet'", 'https://www.facebook.com/freixenetAR/', class: 'media-box-user' %>
								<span class="media-box-time"><%= feed[:age] %></span>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</section>