<% content_for :extra_js do %>
	Articles.init();
<% end %>
<section class="content">
	<div class="container narrow">
		<h1 class="text-uppercase text-center">Novedades</h1>
		<p class="text-center space-xs-S-40">Tips, eventos, y lanzamientos. Enterate de todo.</p>
		<div id="articlesContainer">
			<% @articles.each do |article| %>
				<div class="news">
					<%= image_tag article.image(:large), class: 'cover' %>
					<h2 class="text-uppercase"><%= article.title %> <%= article.id %></h2>
					<div class="text-justify"><%= article.text.html_safe %></div>
				</div>
			<% end %>
		</div>
		<div class="text-center">
			<%= link_to 'Cargar más novedades', news_path(:json), class: 'btn btn-default', id: 'articlesPagination', data: { offset: 3, step: 3, count: @articles_count } %>
		</div>
	</div>
</section>
<div class="hidden" id="articleTemplate">
	<div class="news">
		<%= image_tag nil, class: 'cover' %>
		<h2 class="text-uppercase"></h2>
		<div class="text-justify"></div>
	</div>
</div>