<% if admin_signed_in? %>
	<div class="admin-info">
		<b>Admin: <%= current_admin.email %></b>
		<%= '<em>Usuario administrador</em>'.html_safe if current_admin.administrator? %>
	</div>
	<div class="admin-buttons">
		<div>
			<%= link_to 'Admin', admin_path %>
			<%= link_to 'Sign out', destroy_admin_session_path, method: 'delete' %>
		</div>
		<% if false %>
		<div>
			<div>Crear</div>
			<%= link_to 'Galería', new_image_gallery_path %>
			<%= link_to 'Descarga', new_download_path %>
			<%= link_to 'Instructivo', new_instructional_path %>
		</div>
		<% if @image_gallery.present? && @image_gallery.title.present? %>
			<div>
				<div>Galería</div>
				<%= link_to @image_gallery.title, @image_gallery, class: 'show' %>
				<%= link_to 'Edit', edit_image_gallery_path(@image_gallery), class: 'edit' %>
				<%= link_to 'Destroy', @image_gallery, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>
			</div>
		<% end %>
		<% if @download.present? && @download.title.present? %>
			<div>
				<div>File</div>
				<%= link_to @download.title, @download, class: 'show' %>
				<%= link_to 'Edit', edit_download_path(@download), class: 'edit' %>
				<%= link_to 'Destroy', @download, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>
			</div>
		<% end %>
		<% if @instructional.present? && @instructional.title.present? %>
			<div>
				<div>Instructivo</div>
				<%= link_to @instructional.title, @instructional, class: 'show' %>
				<%= link_to 'Edit', edit_instructional_path(@instructional), class: 'edit' %>
				<%= link_to 'Destroy', @instructional, method: :delete, data: { confirm: 'Are you sure?' }, class: 'destroy' %>
			</div>
		<% end %>
		<% end %>
	</div>
	<% content_for :extra_js do %>
		Utils.adminButtons();
	<% end %>
<% end %>