<div class="col-xs-12 col-sm-6 col-md-3">
	<div class="card">
		<%= link_to article do %>
			<%= image_tag article.image(:thumb), class: 'cover' %>
		<% end %>
		<%= link_to article.title, article, class: 'h3 text-uppercase card-title' %>
		<p><%= article.subtitle %></p>
		<%= link_to 'Ver más', article, class: 'btn btn-default card-button' %>
	</div>
</div>