<nav role="navigation">
	<ul class="list-inline">
		<li><%= link_to 'Home', root_path, class: navigation_class('home') %></li>
		<li><%= link_to 'Historia y Filosofía', root_path %></li>
		<li><%= link_to 'Producto', root_path %></li>
		<li><%= link_to 'Novedades', news_path, class: navigation_class('news') %></li>
		<li><%= link_to 'Contacto', contact_path, class: navigation_class('contact') %></li>
	</ul>
</nav>