<% content_for :extra_js do %>
	$('#productsSlider').slider();
<% end %>

<section class="products">
	<div class="slider" id="productsSlider">
		<div class="slider-controls">
			<%= link_to '#', class: 'slider-prev' do %>
				<i class="icon icon-chevron-left"></i>
			<% end %>
			<%= link_to '#', class: 'slider-next' do %>
				<i class="icon icon-chevron-right"></i>
			<% end %>
		</div>
		<div class="slider-item active">
			<div class="slider-content" style="background-image: url(<%= asset_path 'products-1.jpg' %>)">
				<div class="container">
					<div class="slider-caption">
						<h2 class="text-uppercase">Freixenet CORDÓN NEGRO</h2>
						<p class="space-xs-S-40">Este es el cava favorito en el mundo y es famoso por su hermosa y atractiva botella negra. Su aroma fresco, nítido y afrutado va con todo y, como por arte de magia, da a cada momento ese punto más especial.</p>
						<%= link_to 'Más info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
					</div>
					<div class="slider-info">
						<h2 class="text-uppercase">Freixenet CORDÓN NEGRO</h2>
						<p class="space-xs-S-40">
							¿Y a qué sabe Cordón Negro de Freixenet? Es un cava ligero y moderno de estilo refrescante con burbujas que permanecen en tu copa. Al probarlo, se aprecian notas cítricas y un aroma que recuerda a manzana y pera, además de melocotón, melón y piña.<br>
							<br>
							Elaboramos este espléndido vino como brut, seco y semiseco. El brut es un vino fresco, limpio y muy seco que casi no contiene azúcar. El seco, pese a su nombre, no es tan seco y tiene notas dulces. Y, finalmente, el semiseco es un vino afrutado más dulce. Todos ellos son estupendos con casi todas las comidas pero el brut es perfecto para la cocina asiática y las versiones más dulces, para acompañar el postre.<br>
							<br>
							Nuestro Cordón Negro se fabrica a partir de las uvas Macabeo, Xarel.lo y Parellada. Todas se cosechan a mano y se prensan en la bodega de Sant Sadurní donde, al cabo de diez días, concluye la primera fermentación. El mosto se aclara, mezcla, embotella y almacena en nuestras bodegas donde, transcurridos 10-14 meses, se produce una segunda fermentación y se alcanza la madurez.
						</p>
						<p>
							<%= image_tag 'wine-glass.png', class: 'pull-left icon-wine-glass' %>
							TECHNICAL INFO 14-16º<br>
							<br>
							COUPAGE: Parellada, Macabeo and Xarel·lo<br>
							CRIANZA: Entre 10 y 14 meses<br>
							ALCOHOL: 11,50%
						</p>
						<div class="space-xs-N-60">
							<%= link_to 'Descargar ficha completa', nil, class: 'btn btn-info space-xs-E-20' %>
							<%= link_to 'Cerrar info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item">
			<div class="slider-content" style="background-image: url(<%= asset_path 'products-2.jpg' %>)">
				<div class="container">
					<div class="slider-caption">
						<h2 class="text-uppercase">Freixenet cordón rosado</h2>
						<p class="space-xs-S-40">El Rosado o Rosé es el cava para los que prefieren un espumoso suave, delicado y… ¡rosa!</p>
						<%= link_to 'Más info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
					</div>
					<div class="slider-info">
						<h2 class="text-uppercase">Freixenet CORDÓN rosado</h2>
						<p class="space-xs-S-40">
							¿Y cómo es este espumoso rosa? De color fresa claro, con muchas burbujas, que forman una preciosa corona blanca en la copa. Tiene un delicioso aroma a flores y frutos rojos, con notas más exóticas de granadina, higos secos y dátiles. Y deja en la boca un fresco, ligero y suave sabor a frutos rojos.<br>
							<br>
							Nuestro Cordón Rosado se presenta en tres variantes: brut, seco y semiseco. El brut es el más seco, con un bajo contenido en azúcar, aromático y suave. Los secos y semisecos son más dulces. Se trata de un estupendo espumoso para disfrutar con aves, cerdo y postres ligeros.<br>
							<br>
							Cordón Rosado se elabora a partir de uva Trepat y Garnacha. La primera se elige por su vivo aroma y es difícil de encontrar en la región de Cataluña. Como todos nuestros cavas, este vino espumoso pasa por dos fermentaciones: la primera, unos doce días en tanques con temperatura controlada y, la segund12,00%nte el periodo de envejecimiento de 12-18 meses en las botellas de la bodega.
						</p>
						<p>
							<%= image_tag 'wine-glass.png', class: 'pull-left icon-wine-glass' %>
							TECHNICAL INFO 15-17º<br>
							<br>
							COUPAGE: Trepat y Garnacha<br>
							CRIANZA: Entre 12 y 18 meses<br>
							ALCOHOL: 12,00%
						</p>
						<div class="space-xs-N-60">
							<%= link_to 'Descargar ficha completa', nil, class: 'btn btn-info space-xs-E-20' %>
							<%= link_to 'Cerrar info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item">
			<div class="slider-content" style="background-image: url(<%= asset_path 'products-3.jpg' %>)">
				<div class="container">
					<div class="slider-caption">
						<h2 class="text-uppercase">Freixenet Carta Nevada</h2>
						<p class="space-xs-S-40">Esta dorada botella esmerilada está hecha a medida para las celebraciones. Un cava clásico, la perfecta introducción a una de las regiones productoras de espumosos más famosas del mundo.</p>
						<%= link_to 'Más info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
					</div>
					<div class="slider-info">
						<h2 class="text-uppercase">Freixenet CARTA NEVADA</h2>
						<p class="space-xs-S-40">
							¿Y a qué sabe nuestro cava dorado? Al acercarlo a la nariz, la copa de Carta Nevada desprenderá un aroma floral con un toque de manzana y cítricos. Y en boca, paladeamos un vino fresco, burbujeante y ligeramente floral.<br>
							<br>
							Carta Nevada de Freixenet está disponible en cinco variantes: brut, extraseco, seco, semiseco y dulce. Brut es el más seco en sabor sin casi azúcar y el más afrutado de Freixenet. Acompaña a la perfección los platos de ave y cerdo. El semiseco hace de puente entre el seco y el dulce, perfecto para aperitivos y postres.<br>
							<br>
							Carta Nevada se elabora con nuestras uvas Macabeo, Xarel.lo y Parellada. La fruta se cosecha a mano entre agosto y octubre y luego se prensa de forma neumática para obtener el mosto, que fermenta en depósitos tras 10-15 días. A continuación, este líquido se aclara, mezcla, embotella y almacena en las bodegas de Sant Sadurní durante un máximo de 14 meses.
						</p>
						<p>
							<%= image_tag 'wine-glass.png', class: 'pull-left icon-wine-glass' %>
							TECHNICAL INFO 6-7º<br>
							<br>
							COUPAGE: Macabeo, Xarel·lo and Parellada in equal parts<br>
							CRIANZA: Entre 10 y 14 meses<br>
							ALCOHOL: 11,50%
						</p>
						<div class="space-xs-N-60">
							<%= link_to 'Descargar ficha completa', nil, class: 'btn btn-info space-xs-E-20' %>
							<%= link_to 'Cerrar info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item">
			<div class="slider-content" style="background-image: url(<%= asset_path 'products-4.jpg' %>)">
				<div class="container">
					<div class="slider-caption">
						<h2 class="text-uppercase">Freixenet Elyssia Pinot Noir</h2>
						<p class="space-xs-S-40">Este galardonado espumoso vino rosado tiene un sabor espléndido y un hermoso aspecto: nuestra interpretación moderna en el arte de hacer cava.</p>
						<%= link_to 'Más info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
					</div>
					<div class="slider-info">
						<h2 class="text-uppercase">Freixenet Elyssia Pinot Noir</h2>
						<p class="space-xs-S-40">
							El Elyssia Pinot Noir Rosado tiene un aroma intenso a frutos de verano como las frambuesas, las grosellas y las cerezas, combinado con un sabor maduro y afrutado que deja un sabor de boca refrescante y persistente. Perfecto con paella, vieiras o pollo asado.<br>
							<br>
							El Elyssia Pinot Noir Brut toma la clásica uva Pinot Noir y añade un toque de Trepat para crear un distintivo rosado espumoso.
						</p>
						<p>
							<%= image_tag 'wine-glass.png', class: 'pull-left icon-wine-glass' %>
							TECHNICAL INFO 6-8º<br>
							<br>
							COUPAGE: Chardonnay, Macabeo, Parellada y Pinot Noir<br>
							CRIANZA: Mínimo 18 meses en cava<br>
							ALCOHOL: 11,5%
						</p>
						<div class="space-xs-N-60">
							<%= link_to 'Descargar ficha completa', nil, class: 'btn btn-info space-xs-E-20' %>
							<%= link_to 'Cerrar info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="slider-item">
			<div class="slider-content" style="background-image: url(<%= asset_path 'products-5.jpg' %>)">
				<div class="container">
					<div class="slider-caption">
						<h2 class="text-uppercase">Freixenet Elyssia Gran Cuvée</h2>
						<p class="space-xs-S-40">Este galardonado espumoso vino rosado tiene un sabor espléndido y un hermoso aspecto: nuestra interpretación moderna en el arte de hacer cava.</p>
						<%= link_to 'Más info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
					</div>
					<div class="slider-info">
						<h2 class="text-uppercase">Freixenet Elyssia Gran Cuvée</h2>
						<p class="space-xs-S-40">
							El Gran Cuvée tiene un sofisticado aroma de flores de acacia con un toque de piña y melocotón maduros y un apetecible sabor fresco, vivo, a fruta madura: un buen acompañante para pescado, marisco y ensaladas.<br>
							<br>
							El Elyssia Pinot Noir Brut toma la clásica uva Pinot Noir y añade un toque de Trepat para crear un distintivo rosado espumoso. El Elyssia Gran Cuvée Brut combina los tradicionales Macabeo y Parellada con los favoritos a nivel internacional Chardonnay y Pinot Noir.
						</p>
						<p>
							<%= image_tag 'wine-glass.png', class: 'pull-left icon-wine-glass' %>
							TECHNICAL INFO 6-8º<br>
							<br>
							COUPAGE: 100% Pinot Noir<br>
							CRIANZA: Minimum 10 months in the cave<br>
							ALCOHOL: 11,5%
						</p>
						<div class="space-xs-N-60">
							<%= link_to 'Descargar ficha completa', nil, class: 'btn btn-info space-xs-E-20' %>
							<%= link_to 'Cerrar info', nil, class: 'btn btn-info', data: { mode: 'info'} %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>