<section class="content beige scroll-x" id="timeline">
	<div class="timeline">
		<div class="timeline-upper">
			<div class="timeline-item">
				<div class="timeline-item-content">
					<h4 class="timeline-item-title"><mark>Una Historia de Amor</mark></h4>
					<%= image_tag 'timeline-1889.jpg' %>
					<p>En 1889, la historia cobra más fuerza con el matrimonio entre Pedro Ferrer y Dolores Sala Vivé, heredera de la reconocida bodega Casa Sala. La sinergia entre la visión empresarial de Pedro y el profundo conocimiento vinícola de Dolores sentó los cimientos de la empresa actual. Juntos tomaron la decisión de pasar de la elaboración de vino tranquilo a la compleja producción del cava según el método tradicional.</p>
					<span class="h4">1889 <i class="caret"></i></span>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-item-content">
					<h4 class="timeline-item-title"><mark>El Mundo nos Llama</mark></h4>
					<%= image_tag 'timeline-30s.jpg' %>
					<p>El primer paso para dar a conocer nuestro cava en el mundo llegó con el desembarco en Estados Unidos, en los años 30. Freixenet abrió una sucursal en Nueva Jersey en una demostración de su extraordinaria visión para la época. Pedro y Dolores lo tenían claro: Freixenet debía estar en todo el mundo porque siempre, y en cualquier parte, había algo que celebrar.</p>
					<span class="h4">30'S <i class="caret"></i></span>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-item-content">
					<h4 class="timeline-item-title"><mark>Una nueva unión – de belleza y eficiencia</mark></h4>
					<%= image_tag 'timeline-1957.jpg' %>
					<p>Dolores se jubiló en 1957 y delegó el mando de la empresa a su cuarto hijo, Josep Ferrer, que siguiendo la tradición familiar, antepuso la innovación en su gestión. Freixenet se convirtió en la primera empresa de España en prensar la uva de forma neumática, fue pionera en el uso de depósitos refrigerados para controlar la fermentación y líder en la fabricación de su propia levadura. Además, Josep soñaba con la internacionalización, quería compartir Freixenet con el mundo. Deseaba poner al alcance de todos nuestro cava para ayudar a celebrar los pequeños y grandes momentos de la vida.</p>					
					<span class="h4">1957 <i class="caret"></i></span>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-item-content">
					<h4 class="timeline-item-title"><mark>El sueño se Hace realidad</mark></h4>
					<%= image_tag 'timeline-80s.jpg' %>
					<p>Gracias al duro trabajo de Josep Ferrer, sus hijos y sobrinos, en 1980 el sueño se hizo realidad: Freixenet era el líder mundial de vinos espumosos elaborados siguiendo el método tradicional.</p>
					<span class="h4">80'S <i class="caret"></i></span>
				</div>
			</div>
		</div>
		<div class="timeline-lower">
			<div class="timeline-item">
				<div class="timeline-item-content">
					<span class="h4">1861 <i class="caret"></i></span>
					<h4 class="timeline-item-title"><mark>Cómo empezó todo</mark></h4>
					<%= image_tag 'timeline-1861.jpg' %>
					<p>La historia de Freixenet empieza en 1861, cuando Francesc Sala Ferrés arranca su negocio de elaboración y exportación de vino a América. La bodega original, que fue restaurada con cariño por la familia actual, todavía hoy produce pequeñas cantidades de cava de forma manual, a la antigua usanza.</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-item-content">
					<span class="h4">1914 <i class="caret"></i></span>
					<h4 class="timeline-item-title"><mark>el bautismo</mark></h4>
					<%= image_tag 'timeline-1914.jpg' %>
					<p>¿Cómo llamarían a este vino espumoso? A Pedro lo conocían como “el Freixenet”, dado que creció en un viñedo llamado La Freixeneda (fresneda en catalán). El nombre no podía ser otro: Freixenet. Poco podría imaginar la joven pareja que, justo un siglo después, el apodo sería conocido en todo el mundo.</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-item-content">
					<span class="h4">40'S <i class="caret"></i></span>
					<h4 class="timeline-item-title"><mark>Dolores asume el mando</mark></h4>
					<%= image_tag 'timeline-40s.jpg' %>
					<p>La Guerra Civil española se llevó las vidas de Pedro y de su hijo mayor, dejando a Dolores y a sus tres hijas a cargo de la empresa. Fue una época difícil en la que Freixenet vio frenado su crecimiento. La presentación del Carta Nevada en 1941 supuso un nuevo impulso para la compañía. Se trataba de un delicioso y atractivo cava con una distintiva botella esmerilada, hecho que lo convirtió rápidamente en un icono.</p>					
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-item-content">
					<span class="h4">70'S <i class="caret"></i></span>
					<h4 class="timeline-item-title"><mark>Ha nacido una estrella</mark></h4>
					<%= image_tag 'timeline-70s.jpg' %>
					<p class="sm">Todas las mejoras realizadas tuvieron su efecto en lo que sería la nueva estrella de Freixenet: Cordón Negro. Se presentó en 1974, en una atractiva y elegante botella negra esmerilada que no dejó a nadie indiferente. Pronto se convirtió en el más vendido del mundo.</p>
				</div>
			</div>
			<div class="timeline-item">
				<div class="timeline-item-content">
					<span class="h4">HOY <i class="caret"></i></span>
					<h4 class="timeline-item-title"><mark>Una celebración de valores familiares</mark></h4>
					<%= image_tag 'timeline-today.jpg' %>
					<p class="lg"><small>Actualmente, Cordón Negro y Carta Nevada de Freixenet lideran una gama de cavas que se venden en más de 100 países y se elaboran en Sant Sadurní d’Anoia. También elaboramos vinos en 16 de las regiones más prestigiosas del mundo, de California a Argentina y de Australia a La Rioja. La quinta generación está ahora al mando de la empresa. Y, al igual que a Francesc Sala Ferrés en 1861, nos sigue motivando elaborar los mejores vinos. Nos sigue apasionando descubrir nuevas y mejores tecnologías. Seguimos respetando a la madre naturaleza, de la cual dependemos para la vendimia. Y, lo más importante, seguimos comprometidos con lograr que cada celebración sea aún más especial que la anterior.</small></p>
				</div>
			</div>
		</div>
	</div>
</section>