<h1>Inscripción Sorteo Freixenet</h1>

<p>
	<b>Código:</b> <%= @raffle.code %><br>
	<b>Nombre:</b> <%= @raffle.name %><br>
	<b>Email:</b> <%= @raffle.email %><br>
	<b>Ciudad/Provincia:</b> <%= @raffle.location %><br>
	<b>Fecha:</b> <%= @raffle.created_at.to_s %>
</p>