<footer>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-md-push-3 text-center">
				<ul class="list-inline">
					<li><%= link_to 'Home', root_path, class: navigation_class('home') %></li>
					<li><%= link_to 'Historia y Filosofía', root_path %></li>
					<li><%= link_to 'Producto', root_path %></li>
					<li><%= link_to 'Novedades', root_path %></li>
					<li><%= link_to 'Contacto', root_path %></li>
				</ul>
			</div>
			<div class="col-xs-12 col-md-3 col-md-pull-6">
				<ul class="list-inline">
					<li><%= link_to '&copy; Freixenet 2015'.html_safe %></li>
					<li><%= link_to 'Aviso legal', nil %></li>
				</ul>
			</div>
		</div>
	</div>
</footer>