<%= render 'admins/fixed_buttons' %>
<header class="<%= navigation_background %>">
	<div class="navigator">
		<div class="brand">
			<%= link_to root_path do %>
				<%= image_tag 'logo-freixenet.png' %>
			<% end %>
		</div>
		<div class="navigation">
			<%= render 'shared/nav' %>
		</div>
		<div class="icon-navigation">
			<nav role="navigation">
				<ul class="list-inline">
					<li>
						<%= link_to 'https://www.facebook.com/freixenetAR/', target: '_blank' do %>
							<i class="icon icon-facebook"></i>
						<% end %>
					</li>
					<li>
						<%= link_to '#', data: { toggle: '#submenu-world' } do %>
							<i class="icon icon-world"></i>
						<% end %>
					</li>
					<li>
						<%= link_to media_path, class: navigation_class('media') do %>
							<i class="icon icon-media"></i>
						<% end %>
					</li>
				</ul>
			</nav>
		</div>
		<div class="nav-submenu" id="submenu-world">
			<ul class="list-unstyled">
				<li><%= link_to 'argentina', 'http://www.freixenet.com.ar', target: '_blank' %></li>
				<li><%= link_to 'australia', 'http://www.freixenet.com.au/', target: '_blank' %></li>
				<li><%= link_to 'austria', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'belgium', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'canada', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'china', 'http://www.freixenet.cn/', target: '_blank' %></li>
				<li><%= link_to 'denmark', 'http://www.freixenet.dk/', target: '_blank' %></li>
				<li><%= link_to 'estonia', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'france', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'germany', 'http://www.freixenet.de/', target: '_blank' %></li>
				<li><%= link_to 'latvia', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'japan', 'http://www.freixenet.co.jp/', target: '_blank' %></li>
				<li><%= link_to 'lithuania', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'mexico', 'http://www.freixenetmexico.com.mx/', target: '_blank' %></li>
				<li><%= link_to 'netherlands', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'poland', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'russia', 'http://www.freixenet.com/', target: '_blank' %></li>
				<li><%= link_to 'spain', 'http://www.freixenet.es/', target: '_blank' %></li>
				<li><%= link_to 'sweden', 'http://www.freixenet.se/', target: '_blank' %></li>
				<li><%= link_to 'switzerland', 'http://www.freixenet.ch/', target: '_blank' %></li>
				<li><%= link_to 'united kingdom', 'http://www.freixenet.co.uk/', target: '_blank' %></li>
				<li><%= link_to 'united states', 'http://www.freixenetusa.com/', target: '_blank' %></li>
			</ul>
		</div>
	</div>
	<div class="header-bottom">
		<h3 class="text-uppercase">Bienvenidos</h3>
		<p>A nuestro mundo de CELEBRACIÓN, el Mundo de FREIXENET.</p>
	</div>
</header>