<!DOCTYPE html>
<html lang="es">
<head>
	<%= render 'layouts/head' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= 'admin' if admin_signed_in? %>">
<%= render 'layouts/ga' if Rails.env.production? %>
<%= render 'layouts/navigation' %>
<%= yield %>
<%= render 'layouts/footer' %>
<%= render 'modals/notice' %>
<script>
  $(function() {
    Utils.init();
    <% if content_for? :extra_js %>
      <%= yield :extra_js %>
    <% end %>
  });
</script>
</body>
</html>
